/* colors 1 dark=>#69a032   light opcaity=>#69a03230 */
body {
  overflow-x: hidden;
  width: 100%;
  margin: 0px !important;
  padding: 0px;
}


* {
  margin: 0px;
  padding: 0px;
  font-family: 'Assistant', sans-serif;
}

.pd1 {
  padding-top: 70px;
}

.pd2 {
  padding-bottom: 70px;
}

.pd3 {
  padding-top: 50px;
}

.pd4 {
  padding-bottom: 40px;
}

.pd5 {
  padding: 50px 0px;
}

.pd6 {
  padding-bottom: 30px;
}

.mr-1 {
  margin-top: 30px;
}


a {
  font-weight: 500;
  font-family: Assistant, sans-serif !important;
  text-decoration: none !important;
  color: #69a032 !important;
  cursor: pointer !important;
}

a:hover {
  color: #262626 !important;
  cursor: pointer !important;
}

.headMsgLink {
  font-weight: 500;
  font-family: Assistant, sans-serif !important;
  text-decoration: none !important;
  color: #f3ffe7 !important;
  cursor: pointer !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Cairo, sans-serif !important;
}

h2.headings {
  font-size: 40px;
  color: #262626;
  line-height: 50px;
  font-weight: 700;
}

h2.headings:before {
  content: "";
  width: 30px;
  height: 3px;
  display: inline-block;
  background-color: #69a032;
  margin-right: 10px;
}

h2.headings:after {
  content: "";
  width: 30px;
  height: 3px;
  display: inline-block;
  background-color: #69a032;
  margin-left: 10px;
}

/* menu new chnages */
/* a.navbar-brand {
 width: 50%;
} */
/* end */
/* header */
.header_sec {
  display: block;
  position: sticky;
  top: -1px;
  z-index: 4;
}

.navbar {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  margin-right: 80px;
  margin-left: 80px;
  margin-top: 29px;
}

.navbar_list a {
  color: #262626 !important;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

/* .navbar_list a.active{color:#69a032 !important;} */
img.logo_img {
  max-width: 50%;
  height: auto;
}

/* .main_navbar{padding: 0 4.8rem;
   height: 5rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
 
 } */
.navbar_list {
  display: flex;
  list-style: none;
  margin-bottom: auto;
}

.navbar_list a {
  /* padding: 0 30px; */
  /* padding: 0 20px; */
  padding: 0 12px;
}

.navbar_list a:hover {
  color: #69a032 !important;
}

nav.navbar.navbar-expand-lg.navbar-light {
  padding-left: 30px;
  padding-right: 30px;
}

.home {
  margin-top: -125px;
}

#hero {
  background-image: url("/public/assets/img/slide1.webp");
  background-size: cover;
  height: 105vh;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

span.dual-text {
  color: #69a032;
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;
}

#hero h1 {
  color: #262626;
  font-weight: 600;
  font-size: 60px;
  padding-top: 130px;
}

#hero p {
  padding: 20px 0px;
}

a.btn-slider {
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  font-size: 18px;
  color: #fff !important;
  background-color: #69a032;
  position: relative;
  justify-content: space-between;

}

a.btn-slider:hover {
  background-color: #262626;
  color: #fff !important;
}

.d-flex {
  gap: 20px;
}

img.batches-img {
  width: 100%;
  float: right;
  background-color: #69a03212;
  padding: 30px 0px;

}

/* why choose us */
.why-choose-box {
  transition: 0.3s;
  padding: 20px;
  border: 1px solid #69a032;
  margin-bottom: 40px;
  border-radius: 0px 30px 0px 30px
}

.why-choose-box img {
  padding: 10px;
  border-radius: 30px 0px 30px 0px;
  margin-bottom: 20px;
  border: 1px solid #69a032;
  background-color: #69a03230;
}

.why-choose-box:hover {
  background-color: #69a03230;
}

.why-choose-box:hover img {
  background-color: #fff;
}

/* tainingprogram */
.color_col {
  background-color: #69A032;
  color: #fff;
  padding: 70px 150px;
}

.color_col h2.headings2 {
  color: #fff;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}

.btn_color_col {
  text-decoration: none;
  padding: 22px;
  font-weight: 700;
  font-size: 18px;
  color: #fff !important;
  border: 1px solid #fff;
  background-color: #69a032;
  position: relative;
  justify-content: space-between;
}

a.btn_color_col:hover {
  background-color: #262626;
  color: #fff !important;
  border: none;
}

.image_col img {
  position: relative;
  background-color: #69a03230;
}

img.training_col_img {
  width: 100%;
  padding: 25px 0px;
}

/* testimonial */
.testimonial_box {
  background-image: url("/public/assets/img/quote-icon.png");
  background-position: 90% 99%;
  background-repeat: no-repeat;
  background-size: 96px auto;
  padding: 40px;
  border: 1px solid #69a032;
}

.testimonial_box p::after {
  content: '';
  display: block;
  position: relative;
  width: 15%;
  height: 3px;
  background-color: #69a032;
  top: 18px;
  bottom: 10px;
  left: 0;
  z-index: 1;
}

.testimonial_box h6 {
  color: #69a032;
  font-weight: 800;
  font-size: 20px;
}

/* Form Home */
svg.form_icon {
  margin-top: -66px;
  position: relative;
  z-index: 2;
  margin-left: 0px;
  /* border-right: 1px solid; */
  background-color: #69a032;
  color: #fff;
  font-size: 37px;
  padding: 10px;
  border-radius: 6px 0px 0px 6px;
}

svg.form_icon_modal {
  margin-top: -66px;
  position: relative;
  z-index: 2;
  margin-right: 90%;
  /* margin-left: 298px; */
  /* border-right: 1px solid; */
  background-color: #69a032;
  color: #fff;
  font-size: 37px;
  padding: 10px;
  border-radius: 6px 0px 0px 6px;
}

.home_form .form-control {
  padding: 0.375rem 2.75rem;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #69a032 !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #69a03247 !important;
}

.form-select:focus {
  border-color: #69a032 !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #69a03247 !important;
}

.home_form .form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 2.75rem;
}

.modal_label {
  margin-right: 84%;
}


button.form_btn.btn.btn-primary {
  color: #fff;
  padding: 10px;
  border: 1px solid #69a032;
  background-color: #69a032;
  font-size: 20px;
  border-radius: 0px;
  font-weight: 600;
}

button.form_btn.btn.btn-primary:hover {
  background-color: #262626 !important;
}

.form_section {
  /* background-image: url("/public/assets/img/contact_bg2.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #69a0323d;
  background-blend-mode: overlay;
}

.form_error_message {
  color: #ff0000;
  /* background-color: #ff000012; */
  /* padding: 3px; */
}
.modal_error_msg {
 text-align: left;
}

/* blogs */
.post_box {
  margin-bottom: 50px;
}

.post_box p {
  margin-bottom: 30px;
}

.post_img_link img {
  background-color: #69a03230;
  padding: 40px 120px;
  width: 100%;
}

.post_title {
  padding-top: 20px;
  font-size: 26px;
  font-weight: 700;
}

.teacher_training_blogs {
  background-color: #f2f2f2;
}

ul.post_ul {
  list-style: none;
  top: 45px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

/* .example__ribbon--tr {
 top: -0.5rem;
 right: -0.5rem;
} */
.example__ribbon {
  height: 8rem;
  width: 8rem;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.example__ribbon--tr .example__title {
  transform: translate(-13px, 30px) rotate(45deg);
}

.example__title {
  background-color: #6366f1;
  color: #fff;
  position: absolute;
  padding: 0.5rem 0;
  text-transform: uppercase;
  text-align: center;
  width: 181px;
}

/* breadcrum */
.breadcrum {
  background-color: #c1dad7;
  padding: 100px 100px;
  margin-top: -125px;
}

.breadcrum_title {
  position: relative;
  padding: 100px 0px 0px 0px;
}

/* .breadcrum_title:after {
 content: "";
 width: 30px;
 height: 3px;
 display: inline-block;
 background-color: #69a032;
 margin-left: 10px;
} */
img.aboutus_img {
  width: 100%;
  /* width: 90%; */
  /* margin: 60px 50px 50px 80px; */
}

.about_color_col {
  background-color: #69a032;
  color: #fff;
  padding: 230px 70px;

}

/* .about_color_col {
 padding: 103px;
 background-color: #69a03230;
} */

img.class_right_img {
  margin: 50px 50px 5px -80px;
  width: 100%;
}

.color_class_col {
  background-color: #69a03230;
  /* color: #fff; */
  padding: 110px 100px;
}

h2.headings2 {
  padding-bottom: 10px;
}

h2.headings2:before {
  content: "";
  width: 30px;
  height: 3px;
  display: inline-block;
  background-color: #69a032;
  margin-right: 10px;
}

h2.headings2:after {
  content: "";
  width: 30px;
  height: 3px;
  display: inline-block;
  background-color: #69a032;
  margin-left: 10px;
}

img.class_left_img {
  width: 100%;
  margin: 121px 50px 50px 80px;
  position: relative;
  z-index: 2;
}

/* temp */
.class_image_col img {
  background: #69a032;
}

.equipmentprivate img {
  margin: 128px 50px 50px -78px;
  background: #69a032;
}

/* .equipmentgroup img{
 margin: 155px 50px 50px 50px ;
 background: #69a032;
} */
.hide_desk {
  display: none;
}

/* vdeio testimonials */
video.video_tag {
  width: 100%;
  height: 300px;
  object-fit: cover;
  background-color: rgba(var(--backgroundColor, 0, 0, 0), var(--alpha-backgroundColor, 1));
  transition: background-color .2s ease;
}

.video_box {
  margin-bottom: 30px;
}

/* cancellation page */
p.cancellation_p.note {
  background-color: #69a03230;
  padding: 5px;
}

p.cancellation_p {
  margin-bottom: 29px;
}

/* contact */
.contact_form {
  background-color: #69a03230;
  padding: 30px;
}

.img_contact {
  width: 610px;
  height: 610px;
  /* width: 100%; */
  /* height: 111vh; */
}

form.home_form {
  padding: 20px;
}

.contact_details_box {
  margin-top: 70px;
  margin-bottom: 30px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  background: #fff;
  padding: 40px;
  height: 220px;
}

.contact_details_box:hover .contact_icon {
  color: #fff;
  background-color: #69a032;
}

.contact_icon {
  border: 1px solid #ebebeb;
  width: 78px;
  height: 78px;
  color: #69a032;
  line-height: 73px;
  text-align: center;
  border-radius: 100%;
  background: #fff;
  font-size: 28px;
  position: relative;
  top: -85px;
  left: 12px;
}

.deatis {
  top: -60px;
  position: relative;
}

.contact_details {
  background: #f8f9fc;
}






/* footer */
.footer_section {
  background-color: #FAFAFA;
  color: rgb(129, 108, 108);
  border-top: 1px thin black;
}

.footer_section h3 {
  font-weight: 700;
  padding-bottom: 30px;
}

.footer_section h3:before {
  content: "";
  width: 30px;
  height: 3px;
  display: inline-block;
  background-color: #fff;
  margin-right: 10px;
}

.footer_section ul {
  list-style: none;
  margin-top: 5px;
  padding-left: 0px;

}

ul.ft_gal_ul li {
  display: inline-block;
  margin-bottom: 0px;
  width: 32.1%;
  border: 2px solid transparent;
}

ul.ft_gal_ul li a {
  display: inline-block;
}

ul.ft_gal_ul li img {
  display: inline-block;
  border-style: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  transition: all 0.2s cubic-bezier(0.174, 0.885, 0, 1);
}

/* ul.ft_gal_ul li img:hover{
 box-shadow: 0px 30px 18px -8px rgb(0 0 0 / 10%);
   transform: scale(2.05,2.05);
} */
ul.ft_icon_ul svg {
  font-size: 30px;
  border-radius: 0px 0px 0px 10px;
  color: #fff;
  border: 1px solid #fff;
  padding: 7px;
  margin-bottom: 0px;
  margin-left: -40px;
  margin-right: 10px;
}

.ft_icon_ul a {
  color: #fff !important;
}

.ft_icon_ul a:hover {
  color: #212529 !important;
}

/* ul.ft_icon_ul svg:hover{background-color: #69a032;color: #fff;} */
ul.ft_icon_ul li {
  padding-bottom: 5px;
  padding-left: 30px;
  position: relative;
}

.ft_social_links a {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 0px 10px 0px 10px;
  font-size: 32px;
  margin-right: 15px;
  color: #222222 !important;
}

.ft_social_links a:hover {
  background-color: #fff;
  color: #69a032 !important;
}

.useful_link a {
  color: #fff !important;
}

.useful_link a:hover {
  color: #000 !important;
}

.useful_link a:before {
  content: ' \25C8';
  position: relative;
  right: 10px;
  font-size: 20px;
}

/* copyright */
.copy_right_footer {
  padding: 10px 10px;
  background-color: #69a03230;
  text-align: center;
}

.copy_right_footer p {
  margin-bottom: 0px;
}











/* responsive css */
/* tab */
@media only screen and (min-width:768px) and (max-width:1024px) {
  .navbar {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
  }

  ul.navbar_list li:hover {
    background-color: #69a03230;
  }

  .why-choose-box {
    margin-bottom: 50px;
  }

  .testimonial_box {
    margin-bottom: 50px;
  }

  .mr-1 {
    margin-top: 0px;
  }

  img.aboutus_img {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }

  img.class_right_img {
    margin: 0px 0px 0px 0px;
  }

  img.class_left_img {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }

  .hide_mobile {
    display: none;
  }

  .hide_desk {
    display: block;
  }

  .img_contact {
    width: 100%;
    height: 100%;
  }

}

@media screen and (max-width: 992px) {
  .navbar_list {
    display: block;
  }
}

/* Mobile */
/* @media only screen and (min-width:320px) and (max-width:767px) {

} */

/* @media only screen and (min-width:320px) and (max-width:667px) {
  #hero {
    background-image: url("/public/assets/img/slide1.webp");
    background-size: cover;
    height: 50vh;  }
} */

/* @media screen and (max-width: 371) {
  #hero h1 {
    color: #6366f1;
   font-size: 41px;
  }
} */

/* 320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV. */

@media only screen and (min-width:320px) and (max-width:480px) {

  body,
  html {
    margin: 0;
    overflow-x: hidden;
  }

 

  ul.navbar_list li:hover {
    background-color: #69a03230;
  }

  .navbar {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
  }

  ul.navbar_list {
    padding-left: 0px;
  }

  .navbar_list li:hover {
    background-color: #69a03230;
  }

  .navbar-brand {
    width: 50%
  }
  a{
    max-width: 70%;
  }

  img.logo_img {
    max-width: 50%;
    height: auto;
  }

  nav.navbar.navbar-expand-lg.navbar-light {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* .navbar>.container-fluid{
   display: block !important;

   flex-wrap: initial  !important;
 }
  */
  #hero {
    height: 60vh;
  }

  #hero h1 {
    font-size: 20px;
    margin-top: 50%;
  }

  #hero p {
    font-size: 8px;
  }

  span.dual-text {
    font-size: 20px;
  }

  a.btn-slider {
    text-decoration: none;
    padding: 5px;
    font-weight: 700;
    font-size: 14px;
    color: #fff !important;
    background-color: #69a032;
    position: relative;
    justify-content: space-between;
    margin-bottom: 42%;
    
  }
  
  a.btn-slider:hover {
    background-color: #262626;
    color: #fff !important;
  }

  h2.headings:after {
    content: "";
    width: 30px;
    height: 3px;
    display: inline-block;
    background-color: #69a032;
    margin-left: 10px;
    display: none;
    /* font-size: 16px; */
  }

  .why-choose-box {
    margin-bottom: 50px;
  }

  .color_col {
    padding: 50px 15px;
  }

  .testimonial_box {
    margin-bottom: 50px;
  }

  .mr-1 {
    margin-top: 0px;
  }

  .footer_section ul {
    padding-left: 10px;
  }

  .ft_social_links {
    margin-bottom: 30px;
  }

  /* form */

  img.aboutus_img {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }

  /* classes */
  img.class_right_img {
    margin: 0px 0px 0px 0px;
  }

  .equipmentprivate img {
    margin: 0px 0px 0px 0px;
  }

  img.class_left_img {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }

  .hide_mobile {
    display: none;
  }

  .hide_desk {
    display: block;
  }

  .img_contact {
    width: 100%;
    height: 100%;
  }

}

@media only screen and (min-width:481px) and (max-width:768px) {

  body,
  html {
    margin: 0;
    overflow-x: hidden;
  }

  a.btn-slider {
    text-decoration: none;
    padding: 5px;
    font-weight: 700;
    font-size: 18px;
    color: #fff !important;
    background-color: #69a032;
    position: relative;
    justify-content: space-between;
    margin-bottom: 36%;
    
  }
  
  a.btn-slider:hover {
    background-color: #262626;
    color: #fff !important;
  }

  ul.navbar_list li:hover {
    background-color: #69a03230;
  }

  .navbar {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
  }

  ul.navbar_list {
    padding-left: 0px;
  }

  .navbar_list li:hover {
    background-color: #69a03230;
  }

  .navbar-brand {
    width: 50%
  }
  a{
    max-width: 70%;
  }

  img.logo_img {
    max-width: 50%;
    height: auto;
  }

  nav.navbar.navbar-expand-lg.navbar-light {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* .navbar>.container-fluid{
   display: block !important;

   flex-wrap: initial  !important;
 }
  */
  #hero {
    height: 90vh;
  }

  #hero h1 {
    font-size: 30px;
    margin-top: 40%;
  }

  #hero p {
    font-size: 12px;
  }

  span.dual-text {
    font-size: 30px;
  }

  h2.headings:after {
    content: "";
    width: 30px;
    height: 3px;
    display: inline-block;
    background-color: #69a032;
    margin-left: 10px;
    display: none;
  }

  .why-choose-box {
    margin-bottom: 50px;
  }

  .color_col {
    padding: 50px 15px;
  }

  .testimonial_box {
    margin-bottom: 50px;
  }

  .mr-1 {
    margin-top: 0px;
  }

  .footer_section ul {
    padding-left: 10px;
  }

  .ft_social_links {
    margin-bottom: 30px;
  }

  /* form */

  img.aboutus_img {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }

  /* classes */
  img.class_right_img {
    margin: 0px 0px 0px 0px;
  }

  .equipmentprivate img {
    margin: 0px 0px 0px 0px;
  }

  img.class_left_img {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }

  .hide_mobile {
    display: none;
  }

  .hide_desk {
    display: block;
  }

  .img_contact {
    width: 100%;
    height: 100%;
  }

}

@media only screen and (min-width:769px) and (max-width:1024px) {
  .navbar {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
  }

  ul.navbar_list li:hover {
    background-color: #69a03230;
  }

  .why-choose-box {
    margin-bottom: 50px;
  }

  .testimonial_box {
    margin-bottom: 50px;
  }

  .mr-1 {
    margin-top: 0px;
  }

  img.aboutus_img {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }

  img.class_right_img {
    margin: 0px 0px 0px 0px;
  }

  img.class_left_img {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }

  .hide_mobile {
    display: none;
  }

  .hide_desk {
    display: block;
  }

  .img_contact {
    width: 100%;
    height: 100%;
  }

}