*,
body {
  padding: 0
}

.whychooseus {
  background-color: #f2f2f2;
}

.blog_img_link img {
  /* background-color: #69a03230; */
  padding: 22px 20px;
  width: 100%
}

.b_title {
  color: #69a032;
}

.headMsgLink,
a {
  font-weight: 500;
  font-family: Assistant, sans-serif !important;
  text-decoration: none !important;
  cursor: pointer !important
}

.headMsgLink,
a,
a:hover {
  cursor: pointer !important
}

h2.headings2:after,
h2.headings2:before,
h2.headings:after,
h2.headings:before {
  content: "";
  width: 30px;
  display: inline-block;
  background-color: #69a032;
  height: 3px
}

.navbar_list a:hover,
a {
  color: #69a032 !important
}

.form-control:focus,
.form-select:focus {
  border-color: #69a032 !important;
  outline: 0;
  box-shadow: 0 0 0 .25rem #69a03247 !important
}

body {
  overflow-x: hidden;
  width: 100%;
  margin: 0 !important
}

* {
  margin: 0;
  font-family: Assistant, sans-serif
}

.pd1 {
  padding-top: 70px
}

.pd2 {
  padding-bottom: 70px
}

.pd3 {
  padding-top: 50px
}

.pd4 {
  padding-bottom: 40px
}

.pd5 {
  padding: 50px 0
}

.pd6 {
  padding-bottom: 30px
}

.mr-1 {
  margin-top: 30px
}

a:hover {
  color: #262626 !important
}

.headMsgLink {
  color: #f3ffe7 !important
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Cairo, sans-serif !important
}

h2.headings {
  font-size: 40px;
  color: #262626;
  line-height: 50px;
  font-weight: 700
}

h2.headings2:before,
h2.headings:before {
  margin-right: 10px
}

h2.headings2:after,
h2.headings:after {
  margin-left: 10px
}

.header_sec {
  display: block;
  position: sticky;
  top: -1px;
  z-index: 4
}

.navbar_list,
ul.post_ul {
  display: flex;
  list-style: none
}

.navbar {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .25);
  background-color: #fff;
  margin-right: 80px;
  margin-left: 80px;
  margin-top: 29px
}

.breadcrum,
.home {
  margin-top: -125px
}

.navbar_list a {
  color: #262626 !important;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 0 12px;
  font-size: 14px;

}

img.logo_img {
  max-width: 50%;
  height: auto
}

.navbar_list {
  margin-bottom: auto
}

nav.navbar.navbar-expand-lg.navbar-light {
  padding-left: 30px;
  padding-right: 30px
}

#hero {
  background-image: url("/public/assets/img/slider2.jpg");

  background-size: cover;
  height: 105vh;

  /* Add the blur effect */
  /* filter: blur(4px);
  -webkit-filter: blur(4px); */

  /* Full height */
  /* height: 100%;  */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bg-text {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 0px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: 2;
  width: 80%;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
}

.bg-text div {
  font-size: 1.6rem;
  /* padding: 2%; */
  margin-bottom: 3%;
}

#hero_certification {
  background-image: url("/public/assets/img/slider7.webp");

  background-size: cover;
  height: 105vh
}

#hero_classes {
  /* background-image: url("https://static.wixstatic.com/media/bddfc3_498e1f7e5398477db0a13396781b9052~mv2.jpg/v1/fill/w_426,h_275,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/3272_1.jpg"); */
  background-color: #d3e3e2;
  background-size: cover;
  height: 105vh;
  width: auto
}

img.class_right_img_class {
  /* margin: 50px 50px 5px -80px; */
  height: auto;
  /* width: 100%; */
  margin-left: 22%;
  /* position: absolute;
  top: 0; */

}

img.class_right_img_certification {
  /* margin: 50px 50px 5px -80px; */
  height: auto;
  width: 79%;
  margin-left: 22%;
  /* position: absolute;
  top: 0; */

}

img.class_right_img_about {
  /* margin: 50px 50px 5px -80px; */
  height: auto;
  width: 79%;
  margin-left: 22%;
  /* position: absolute;
  top: 0; */

}




#hero_about {
  /* background-image: url("https://static.wixstatic.com/media/bddfc3_498e1f7e5398477db0a13396781b9052~mv2.jpg/v1/fill/w_426,h_275,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/3272_1.jpg"); */
  background-color: #d3e3e2;
  background-size: cover;
  height: 80vh;
  width: auto
}

#hero_whyus {
  /* background-image: url("https://static.wixstatic.com/media/bddfc3_498e1f7e5398477db0a13396781b9052~mv2.jpg/v1/fill/w_426,h_275,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/3272_1.jpg"); */
  background-color: #d3e3e2;
  background-size: cover;
  height: 80vh;
  width: auto
}

#hero_ourteam {
  /* background-image: url("https://static.wixstatic.com/media/bddfc3_498e1f7e5398477db0a13396781b9052~mv2.jpg/v1/fill/w_426,h_275,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/3272_1.jpg"); */
  background-color: #d3e3e2;
  background-size: cover;
  height: 80vh;
  width: auto
}



#hero .animated {
  animation: 2s ease-in-out infinite alternate-reverse both up-down
}

span.dual-text {
  color: #69a032;
  font-size: 60px;
  line-height: 70px;
  font-weight: 700
}

.btn_color_col,
a.btn-slider {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  background-color: #69a032;
  justify-content: space-between;
  position: relative
}

a.btn-book {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  background-color: #ef8813;
  justify-content: space-between;
  position: relative;
  border-radius: 24px;
  padding: 12px;
  color: #fff !important
}


#hero h1 {
  color: #262626;
  font-weight: 600;
  font-size: 60px;
  padding-top: 130px
}

#hero p {
  padding: 20px 0
}

a.btn-slider {
  padding: 12px;
  color: #fff !important
}

/* a.btn-book {
  padding: 12px;
  color: #fff !important
} */


a.btn-slider:hover {
  background-color: #262626;
  color: #fff !important
}

a.btn-book:hover {
  background-color: #262626;
  color: #fff !important
}

.d-flex {
  gap: 20px
}

.header_sec_sub {
  background-color: #ffffff;
}


img.batches-img {
  width: 100%;
  float: right;
  background-color: #69a03212;
  /* padding: 30px 0 */
  
}

.image_col img,
.why-choose-box img,
.why-choose-box:hover {
  background-color: #69a03230
}

.why-choose-box {
  transition: .3s;
  padding: 20px;
  border: 1px solid #69a032;
  margin-bottom: 40px;
  border-radius: 0 30px
}

.why-choose-box img {
  padding: 10px;
  border-radius: 30px 0;
  margin-bottom: 20px;
  border: 1px solid #69a032
}

.form-control:focus,
.why-choose-box:hover img {
  background-color: #fff
}

.color_col {
  background-color: #69a032;
  color: #fff;
  padding: 70px 150px
}

.color_col h2.headings2 {
  color: #fff;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700
}

.btn_color_col {
  padding: 22px;
  color: #fff !important;
  border: 1px solid #fff
}

a.btn_color_col:hover {
  background-color: #262626;
  color: #fff !important;
  border: none
}

.image_col img {
  position: relative
}

img.training_col_img {
  width: 100%;
  padding: 25px 0
}

.testimonial_box {
  background-image: url("/public/assets/img/quote-icon.png");
  background-position: 90% 99%;
  background-repeat: no-repeat;
  background-size: 96px auto;
  padding: 40px;
  border: 1px solid #69a032
}

.testimonial_box p::after {
  content: '';
  display: block;
  position: relative;
  width: 15%;
  height: 3px;
  background-color: #69a032;
  top: 18px;
  bottom: 10px;
  left: 0;
  z-index: 1
}

ul.ft_gal_ul li,
ul.ft_gal_ul li a,
ul.ft_gal_ul li img {
  display: inline-block
}

.testimonial_box h6 {
  color: #69a032;
  font-weight: 800;
  font-size: 20px
}

svg.form_icon,
svg.form_icon_modal {
  margin-top: -66px;
  font-size: 37px;
  border-radius: 6px 0 0 6px;
  color: #fff;
  padding: 10px;
  background-color: #69a032;
  position: relative;
  z-index: 2
}

svg.form_icon {
  margin-left: 0
}

svg.form_icon_modal {
  margin-right: 90%
}

.home_form .form-control {
  padding: .375rem 2.75rem
    /* padding: 0.375rem 0.75rem; */

}

.home_form .ddCol {
  padding: .375rem 0.75rem
    /* padding: 0.375rem 0.75rem; */

}

.form-control:focus {
  color: #212529
}

.home_form .form-select {
  display: block;
  width: 100%;
  padding: .375rem 2.25rem .375rem 2.75rem
}

.modal_label {
  margin-right: 84%
}

button.form_btn.btn.btn-primary {
  color: #fff;
  padding: 10px;
  border: 1px solid #69a032;
  background-color: #69a032;
  font-size: 20px;
  border-radius: 0;
  font-weight: 600
}

button.form_btn.btn.btn-primary:hover {
  background-color: #262626 !important
}

.form_section {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #69a0323d;
  background-blend-mode: overlay
}

.form_error_message {
  color: red
}

.modal_error_msg {
  text-align: left
}

.post_box {
  margin-bottom: 50px
}

.post_box p,
.video_box {
  margin-bottom: 30px
}

.post_img_link img {
  background-color: #69a03230;
  padding: 40px 120px;
  width: 100%
}

.post_title {
  padding-top: 20px;
  font-size: 26px;
  font-weight: 700
}

.teacher_training_blogs {
  background-color: #f2f2f2
}

ul.post_ul {
  top: 45px;
  position: relative;
  justify-content: space-between
}

.example__ribbon {
  height: 8rem;
  width: 8rem;
  overflow: hidden;
  position: absolute;
  z-index: 1
}

.example__ribbon--tr .example__title {
  transform: translate(-13px, 30px) rotate(45deg)
}

.example__title {
  background-color: #6366f1;
  color: #fff;
  position: absolute;
  padding: .5rem 0;
  text-transform: uppercase;
  text-align: center;
  width: 181px
}

.breadcrum {
  /* background-color: #c1dad7; */
  padding: 60px 26px 18px 80px;
  /* background-image: url("/public/assets/img/slider7.webp"); */
  /* background-color: #ffffff; */
  background-color: #f2f2f2;

  background-size: cover;
  /* height: 80vh; */
  /* height: 105vh; */

}

.about_color_col,
.contact_details_box:hover .contact_icon {
  background-color: #69a032;
  color: #fff
}

.breadcrum_title {
  position: relative;
  padding: 100px 0 0;
  color: #69a032;
  /* font-size: 60px; */
  /* line-height: 70px; */
  /* font-size: 60px; */

  font-weight: 700
}

.breadcrum p {
  margin-left: 0%;
}

img.aboutus_img {
  width: 100%
}
.whychooseus div div div div div {
  text-align: justify;
  text-justify: inter-word;
}

.nh1{
  font-size: 1.6rem;
  font-weight: bold
}
.about_color_col {
  /* padding: 230px 70px */
  /* padding: 98px 50px */
  padding: 19% 10%;
  /* font-weight: 200; */

}

.color_class_col,
.contact_form,
p.cancellation_p.note {
  background-color: #f2f2f2
}

img.class_right_img {
  margin: 50px 50px 5px -80px;
  width: 100%
}




.color_class_col {
  padding: 110px 100px
}

h2.headings2 {
  padding-bottom: 10px
}

img.class_left_img {
  width: 100%;
  margin: 121px 50px 50px 80px;
  position: relative;
  z-index: 2
}

.class_image_col img {
  background: #69a032
}

.equipmentprivate img {
  margin: 128px 50px 50px -78px;
  background: #69a032
}

.hide_desk {
  display: none
}

video.video_tag {
  width: 100%;
  height: 300px;
  object-fit: cover;
  background-color: rgba(var(--backgroundColor, 0, 0, 0), var(--alpha-backgroundColor, 1));
  transition: background-color .2s
}

p.cancellation_p.note {
  padding: 5px
}

p.cancellation_p {
  margin-bottom: 29px
}

.copy_right_footer p,
ul.ft_gal_ul li {
  margin-bottom: 0
}

.contact_form {
  padding: 30px
}

.img_contact {
  width: 610px;
  height: 610px
}

form.home_form {
  padding: 20px
}

.contact_details_box {
  margin-top: 70px;
  margin-bottom: 30px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  background: #fff;
  padding: 40px;
  height: 220px
}

.contact_icon {
  border: 1px solid #ebebeb;
  width: 78px;
  height: 78px;
  color: #69a032;
  line-height: 73px;
  text-align: center;
  border-radius: 100%;
  background: #fff;
  font-size: 28px;
  position: relative;
  top: -85px;
  left: 12px
}

.deatis {
  top: -60px;
  position: relative
}

.contact_details {
  background: #f8f9fc
}

.footer_section {
  background-color: #fafafa;
  color: #816c6c;
  border-top: 1px thin
}

.footer_section h3 {
  font-weight: 700;
  padding-bottom: 30px
}

.footer_section h3:before {
  content: "";
  width: 30px;
  height: 3px;
  display: inline-block;
  background-color: #fff;
  margin-right: 10px
}

.footer_section ul {
  list-style: none;
  margin-top: 5px;
  padding-left: 0
}

ul.ft_gal_ul li {
  width: 32.1%;
  border: 2px solid transparent
}

ul.ft_gal_ul li img {
  border-style: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  transition: .2s cubic-bezier(.174, .885, 0, 1)
}

ul.ft_icon_ul svg {
  font-size: 30px;
  border-radius: 0 0 0 10px;
  color: #fff;
  border: 1px solid #fff;
  padding: 7px;
  margin-bottom: 0;
  margin-left: -40px;
  margin-right: 10px
}

.ft_icon_ul a,
.useful_link a {
  color: #fff !important
}

.ft_icon_ul a:hover {
  color: #212529 !important
}

ul.ft_icon_ul li {
  padding-bottom: 5px;
  padding-left: 30px;
  position: relative
}

.ft_social_links a {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 0 10px;
  font-size: 32px;
  margin-right: 15px;
  color: #222 !important
}

.ft_social_links a:hover {
  background-color: #fff;
  color: #69a032 !important
}

.useful_link a:hover {
  color: #000 !important
}

.useful_link a:before {
  content: ' \25C8';
  position: relative;
  right: 10px;
  font-size: 20px
}

.copy_right_footer {
  padding: 10px;
  background-color: #69a03230;
  text-align: center
}

@media only screen and (min-width:320px) and (max-width:480px) {
  .bg-text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 0px solid #f1f1f1;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 2;
    width: 60%;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
  }

  .bg-text div {
    font-size: 0.7rem;
    /* padding: 2%; */
    margin-bottom: 3%;
  }

  a.btn-book {
    text-decoration: none;
    font-weight: 700;
    font-size: 6px;
    background-color: #ef8813;
    justify-content: space-between;
    position: relative;
    border-radius: 24px;
    padding: 5px;
    color: #fff !important
  }


  a.btn-book:hover {
    background-color: #262626;
    color: #fff !important
  }




}


@media only screen and (min-width:481px) and (max-width:768px) {
  .bg-text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 0px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 2;
    width: 80%;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
  }

  .bg-text div {
    font-size: 1rem;
    /* padding: 2%; */
    margin-bottom: 3%;
  }

  a.btn-book {
    text-decoration: none;
    font-weight: 700;
    font-size: 10px;
    background-color: #ef8813;
    justify-content: space-between;
    position: relative;
    border-radius: 24px;
    padding: 5px;
    color: #fff !important
  }


  a.btn-book:hover {
    background-color: #262626;
    color: #fff !important
  }



}


@media only screen and (min-width:300px) and (max-width:993px) {
  /* .about_color_col { */
  /* padding: 230px 70px */
  /* padding: 98px 50px */

  /* } */

  .about_color_col {
    /* padding: 230px 70px */
    /* padding: 98px 50px */
    padding: 5% 5% 5% 5%;
    /* font-weight: 200; */

  }

  #hero_classes {
    /* background-image: url("https://static.wixstatic.com/media/bddfc3_498e1f7e5398477db0a13396781b9052~mv2.jpg/v1/fill/w_426,h_275,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/3272_1.jpg"); */
    background-color: #d3e3e2;
    background-size: cover;
    height: 80vh;
    width: auto;
    font-size: 10px;

  }

  /* 
  #hero_classes div div div {
    background-color: white;
  } */

  #hero_classes div div div h1 {
    /* background-color: green; */
    font-size: 28px;
    /* color: #6366f1; */
    margin-top: 50%;

  }

  #hero_classes div div div span {
    font-size: 32px;

  }

  .btn-slider {
    text-decoration: none;
    padding: 2px;
    font-weight: 700;
    font-size: 10px;
    color: #fff !important;
    background-color: #69a032;
    position: relative;
    justify-content: space-between;
    /* margin-bottom: 9%; */
  }


  /* #hero_classes div {
    background-color: blue
  } */

  #hero_classes {
    background-color: #d3e3e2;
    background-size: cover;
    height: 80vh;
    width: auto;
    font-size: 10px;
  }

  img.class_right_img_class {
    /* margin: 50px 50px 5px -80px; */
    /* height: auto;
    width: 50%;
    position: relative;
    top: 10%; */
    display: none;

  }

  img.class_right_img_certification {
    /* margin: 50px 50px 5px -80px; */
    /* height: auto;
    width: 79%;
    margin-left: 22%; */
    /* position: absolute;
    top: 0; */
    display: none;

  }

  img.class_right_img_about {
    /* margin: 50px 50px 5px -80px; */
    /* height: auto;
    width: 79%;
    margin-left: 22%; */
    /* position: absolute;
    top: 0; */
    display: none;
  }

}



@media only screen and (min-width:993px) and (max-width:1200px) {
  #hero_classes {
    /* background-image: url("https://static.wixstatic.com/media/bddfc3_498e1f7e5398477db0a13396781b9052~mv2.jpg/v1/fill/w_426,h_275,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/3272_1.jpg"); */
    background-color: #d3e3e2;
    background-size: cover;
    height: 105vh;
    width: auto;
    font-size: 10px;
  }

  /* 
  #hero_classes div div div {
    background-color: white;
  } */

  #hero_classes div div div h1 {
    /* background-color: green; */
    font-size: 38px;
  }

  #hero_classes div div div span {
    font-size: 52px;

  }


  /* #hero_classes div {
    background-color: blue
  } */

  #hero_classes {
    /* background-color: yellow; */
    margin: 10px;

  }

  img.class_right_img_class {
    /* margin: 50px 50px 5px -80px; */
    height: auto;
    width: 74%;
    position: relative;
    top: 10%;

  }

  img.class_right_img_certification {
    /* margin: 50px 50px 5px -80px; */
    height: auto;
    width: 64%;
    margin-left: 22%;
    position: relative;
    top: 10%;

    /* position: absolute;
    top: 0; */

  }

  img.class_right_img_about {
    /* margin: 50px 50px 5px -80px; */
    height: auto;
    width: 64%;
    margin-left: 22%;
    position: relative;
    top: 10%;

    /* position: absolute;
    top: 0; */

  }


}







@media only screen and (min-width:768px) and (max-width:1024px) {

  .mr-1,
  .navbar {
    margin-top: 0
  }

  .navbar {
    margin-left: 0;
    margin-right: 0
  }

  ul.navbar_list li:hover {
    background-color: #69a03230
  }

  .testimonial_box,
  .why-choose-box {
    margin-bottom: 50px
  }

  img.aboutus_img,
  img.class_left_img {
    width: 100%;
    margin: 0
  }


  img.class_right_img {
    margin: 0
  }

  .hide_mobile {
    display: none
  }

  .hide_desk {
    display: block
  }

  .img_contact {
    width: 100%;
    height: 100%
  }


}


@media screen and (max-width:667px) {
  .navbar_list {
    display: block
  }
}

@media screen and (max-width:3px) {
  .navbar_list {
    display: block
  }
}

@media only screen and (min-width:320px) and (max-width:480px) {

  #hero h1,
  span.dual-text {
    font-size: 20px
  }

  .mr-1,
  .navbar {
    margin-top: 0
  }

  body,
  html {
    margin: 0;
    overflow-x: hidden
  }

  .navbar_list li:hover,
  ul.navbar_list li:hover {
    background-color: #69a03230
  }

  .navbar {
    margin-left: 0;
    margin-right: 0
  }

  ul.navbar_list {
    padding-left: 0
  }

  .navbar-brand {
    width: 50%
  }

  a {
    max-width: 70%
  }

  img.logo_img {
    max-width: 50%;
    height: auto
  }

  nav.navbar.navbar-expand-lg.navbar-light {
    padding-left: 0;
    padding-right: 0
  }

  #hero {
    height: 60vh
  }

  #hero h1 {
    margin-top: 50%
  }

  #hero p {
    font-size: 8px
  }

  a.btn-slider {
    text-decoration: none;
    padding: 5px;
    font-weight: 700;
    font-size: 14px;
    color: #fff !important;
    background-color: #69a032;
    position: relative;
    justify-content: space-between;
    margin-bottom: 42%
  }

  a.btn-slider:hover {
    background-color: #262626;
    color: #fff !important
  }

  h2.headings:after {
    content: "";
    width: 30px;
    height: 3px;
    background-color: #69a032;
    margin-left: 10px;
    display: none
  }

  .testimonial_box,
  .why-choose-box {
    margin-bottom: 50px
  }

  .color_col {
    padding: 50px 15px
  }

  .footer_section ul {
    padding-left: 10px
  }

  .ft_social_links {
    margin-bottom: 30px
  }

  img.aboutus_img,
  img.class_left_img {
    width: 100%;
    margin: 0
  }

  .equipmentprivate img,
  img.class_right_img {
    margin: 0
  }

  .hide_mobile {
    display: none
  }

  .hide_desk {
    display: block
  }

  .img_contact {
    width: 100%;
    height: 100%
  }
}

@media only screen and (min-width:481px) and (max-width:768px) {

  .mr-1,
  .navbar {
    margin-top: 0
  }

  body,
  html {
    margin: 0;
    overflow-x: hidden
  }

  a.btn-slider {
    text-decoration: none;
    padding: 5px;
    font-weight: 700;
    font-size: 18px;
    color: #fff !important;
    background-color: #69a032;
    position: relative;
    justify-content: space-between;
    margin-bottom: 36%
  }

  #hero h1,
  span.dual-text {
    font-size: 30px
  }

  a.btn-slider:hover {
    background-color: #262626;
    color: #fff !important
  }

  .navbar_list li:hover,
  ul.navbar_list li:hover {
    background-color: #69a03230
  }

  .navbar {
    margin-left: 0;
    margin-right: 0
  }

  ul.navbar_list {
    padding-left: 0
  }

  .navbar-brand {
    width: 50%
  }

  a {
    max-width: 70%
  }

  img.logo_img {
    max-width: 50%;
    height: auto
  }

  nav.navbar.navbar-expand-lg.navbar-light {
    padding-left: 0;
    padding-right: 0
  }

  #hero {
    height: 90vh
  }

  #hero h1 {
    margin-top: 40%
  }

  #hero p {
    font-size: 12px
  }

  h2.headings:after {
    content: "";
    width: 30px;
    height: 3px;
    background-color: #69a032;
    margin-left: 10px;
    display: none
  }

  .testimonial_box,
  .why-choose-box {
    margin-bottom: 50px
  }

  .color_col {
    padding: 50px 15px
  }

  .footer_section ul {
    padding-left: 10px
  }

  .ft_social_links {
    margin-bottom: 30px
  }

  img.aboutus_img,
  img.class_left_img {
    width: 100%;
    margin: 0
  }

  .equipmentprivate img,
  img.class_right_img {
    margin: 0
  }

  .hide_mobile {
    display: none
  }

  .hide_desk {
    display: block
  }

  .img_contact {
    width: 100%;
    height: 100%
  }
}

@media only screen and (min-width:769px) and (max-width:1024px) {

  .mr-1,
  .navbar {
    margin-top: 0
  }

  .navbar {
    margin-left: 0;
    margin-right: 0
  }

  ul.navbar_list li:hover {
    background-color: #69a03230
  }

  .testimonial_box,
  .why-choose-box {
    margin-bottom: 50px
  }

  img.aboutus_img,
  img.class_left_img {
    width: 100%;
    margin: 0
  }

  img.class_right_img {
    margin: 0
  }


  .hide_mobile {
    display: none
  }

  .hide_desk {
    display: block
  }

  .img_contact {
    width: 100%;
    height: 100%
  }
}


.privacy_heading h1 {
  /* font-size: 62px; */
  color: #000;
}

.privacy_content_para {
  background-color: rgb(247, 247, 247);

}

.privacy_content {
  padding: 50px;
  /* background-color: rgb(247,247,247); */
  text-align: justify;
  /* For Edge */
  -moz-text-align-last: left;
  /* For Firefox prior 58.0 */
  text-align-last: left;
  margin-left: 10%;
  /* ￼ --bg-gradient: none;
  ￼ width: 100%;
  ￼ --column-width: 980px;
  ￼ --column-flex: 980; */
}


.privacy_content {
  width: 80%;
}

.para div p {
  /* background-color: #69a032; */
  padding: 5px;
}

.privacy_content div div p {
  /* font-size: x-large; */
  padding: 10px;
  margin-left: 10px;
}


.privacy_content div div {
  /* font-size: x-large; */
  /* padding: 10px; */
  margin-right: 14px;


}



/* .privacy_content div p{
  font-size: x-large;
} */

.privacy_content div h4 {
  /* font-size: x-large; */
  font-weight: 600;
  /* color: #000; */

}

.privacy_content div {
  padding: 5px;
}

